<style>
    footer {
        padding: .8rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .source-code {
        display: block;
        color: teal;
        font-size: 1.3rem;
        transition: all .3s;
        font-size: 1.2rem;
    }
    .source-code:hover {
        color: crimson;
    }
</style>

<footer>
    <a 
        href="https://github.com/mohammedshajahan7/lock-box" 
        class="source-code"
        target="_blank"
    >source code</a>
</footer>