<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lock Box</title>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('./includes/header'); %>

    <div class="app">
        <div class="container">
            <div class="head">
                <h3 class="title">Password protected file</h3>
                <h5 class="subtitle">Enter the password to unlock the file</h5>
    
                <% if(locals.error) { %>
                    <div class="error-message">
                        <span>Wrong password!</span>
                    </div>
                <% } %>
            </div>
             
            <form 
                method="post" 
            >
                <div class="input-container">
                    <input
                        type="password"
                        name="password"
                        id="id_password"
                        class="input-box"
                        autocomplete="off"
                        placeholder="Enter file password"
                        required
                    />
                    <label class="label" for="id_password">Password</label>
                </div>
    
                <button type="submit" class="download_btn">Download</button>
            </form>
        </div>
    </div>

    <%- include('./includes/footer'); %>

    <script src="/scripts/script.js"></script>
</body>
</html>